.btn
{
	margin: 10px 150px;
	display: block;
	padding: 20px 100px;
	border-radius: 30px;
	background: DeepSkyBlue;
	line-height: 1;
	outline: none;
	color:black;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn:hover,
.btn:focus
{
	background:white;
	color:black;
}
.btn1
{
	margin: 10px 150px;
	display: block;
	padding: 20px 100px;
	border-radius: 30px;
	background: DeepSkyBlue;
	line-height: 1;
	outline: none;
	color:black;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn1:hover,
.btn1:focus
{
	background:white;
	color:black;
}
.btn2
{
	margin: 10px 150px;
	display: block;
	padding: 20px 105px;
	border-radius: 30px;
	background: DeepSkyBlue;
	line-height: 1;
	outline: none;
	color:black;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn2:hover,
.btn2:focus
{
	background:white;
	color:black;
}
.btn3
{
	margin: 10px 150px;
	display: block;
	padding: 20px 80px;
	border-radius: 30px;
	background: DeepSkyBlue;
	line-height: 1;
	outline: none;
	color:black;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn3:hover,
.btn3:focus
{
	background:white;
	color:black;
}
.btn4
{
	margin: 10px 150px;
	display: block;
	padding: 20px 65px;
	border-radius: 30px;
	background: DeepSkyBlue;
	line-height: 1;
	outline: none;
	color:black;
	cursor: pointer;
	transition: all 0.3s linear;
}
.btn4:hover,
.btn4:focus
{
	background:white;
	color:black;
}